<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <title>Add Buy</title>
            <meta charset="UTF-8"/>
     
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
       
      <!-- See configuration in WebMvConfig.java -->
      <link th:href="@{/bootstrap/css/bootstrap.min.css}"
                rel="stylesheet" media="screen"/>
                 
        
      <script th:src="@{/jquery/jquery.min.js}"></script>  
      <script th:src="@{/popper/popper.min.js}"></script>  
      <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>   
          
   </head>
   
   <body>      
      <!-- Include _menu.html -->
      <th:block th:include="/_menu"></th:block>
       
      <h2>Add Buy</h2>

       
   <!--    <div th:if="${errorMessage!=null}"
           style="color:red;font-style:italic" th:utext="${errorMessage}">..</div> -->
       
      <form th:action="@{/addBuy}" th:object="${addBuyForm}" method="POST">
		  <div class="form-group">
		  <label>Date Of Buy</label>
		  <input type="date"	class="form-control"  placeholder="Enter date of buy"
				 th:field="*{dateOfBuy}"/>
		  </div>
		  <div class="form-group">
			  <label>Customer ID</label>
			  <input type="text"	class="form-control"  placeholder="Enter customer ID"
					 th:field="*{customerID}" />
		  </div>
		  <div class="form-group">
			  <label>Full price</label>
			  <input type="text"	class="form-control"  placeholder="Enter full price"
					 th:field="*{fullPrice}" />
		  </div>
		  <div class="form-group">
			  <label>Currency</label>
			  <input type="text"	class="form-control"  placeholder="Enter currency"
					 th:field="*{currency}" />
		  </div>
		  <div class="form-group">
			  <label>Router ID</label>
			  <input type="text"	class="form-control"  placeholder="Enter Router ID"
					 th:field="*{routerID}" />
		  </div>
              <td><input type="submit"  class="btn btn-success "  value="Add"/></td>
           </tr>      
         </table>      
      </form>
       
   </body>
</html>